button {
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(204, 201, 201);
  border: 2px solid rgb(255, 254, 254);
  color: black;
}

.primary {
  color: rgb(48, 48, 228);
  border: 2px solid rgb(204, 201, 201);
}

.success {
  color: green;
  border: 2px solid rgb(204, 201, 201);
}

.error {
  color: red;
  border: 2px solid rgb(204, 201, 201);
}

.contained {
  background-color: blue;
  color: white;
  border: inherit;
}

.outlined {
  border: 2px solid black;
  background-color: inherit;
}

.text {
    border: none;
    background-color: white;
}

.small {
    padding: 5px 10px;
    font-size: small;
}

.medium {
  padding: 10px 20px;
  font-size: medium;
}

.large {
  padding: 15px 30px;
  font-size: larger;
}